<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.badminton.tool.web.dao.RaceRefereeMapper">

    <select id="selectRefereeByRaceId">
        SELECT
            twu.uid ,
            twu.openid ,
            twu.nick_name ,
            twu.avatar_url ,
            twu.gender ,
            twu.`level`,
            trr.master
        from
            tb_race_referee trr
        join tb_wx_user twu on
            trr.uid = twu.uid
        where trr.race_id = #{raceId}
    </select>

    <select id="selectRefereeByUidRaceId" resultType="cn.badminton.tool.web.vo.RaceRefereeVO">
        SELECT
        twu.uid ,
        twu.openid ,
        twu.nick_name ,
        twu.avatar_url ,
        twu.gender ,
        twu.`level`,
        trr.master
        from
        tb_race_referee trr
        join tb_wx_user twu on
        trr.uid = twu.uid
        where trr.race_id = #{raceId} and  trr.uid = #{uid}
    </select>





</mapper>